<div class="row">
    <div class="col-12 results">
        <div class="card-layouts">

            <% if (bookData) { %>
                <% bookData.forEach(function(item){ %>
                    <div class="card-container">
                        <h5>
                            <%= item.title %><br>
                        </h5>
                        <% if (item.image == "N/A") { %>
                            <form action="/addbook" METHOD="GET">
                                <img src="img/movie-poster.png" alt="<%= item.title %>" width="200" height="248" />
                            
                                <input type="hidden" name="title" value="<%= item.title %>">

                                    <input type="hidden" name="authors" value="<%= item.authors %>">

                                    <input type="hidden" name="image" value="<%= item.image %>">

                                    <input type="hidden" name="user_id" value="1">
                                    <br />
                                    
                                    <button type="submit" class="btn btn-primary register-btn">Add Book
                                    </button>
                                </form>

                            <% } else { %>
                                <form action="/addbook" METHOD="GET">
                                    <img src="<%= item.image %>" alt="<%= item.image %>" width="200" height="248" />

                                    <input type="hidden" name="title" value="<%= item.title %>">

                                    <input type="hidden" name="authors" value="<%= item.authors %>">

                                    <input type="hidden" name="image" value="<%= item.image %>">

                                    <input type="hidden" name="user_id" value="1">

                                    <br />
                                    <button type="submit" class="btn btn-primary register-btn">Add Book
                                    </button>
                                </form>
                            <% } %>

                    </div>
                    <% }) %>

                        <% } else { %>
                            <p>Search for a book!</p>
                            <% } %>

        </div>
    </div>
</div>